/* Corpo */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(122, 52, 52, 0.856);
}

/* Cabeçalho */

#div{
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
}

#divhead img {
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: black;
    display: inline;
}

a:hover{
    background-color: rgb(248, 164, 164);
}
/* rodapé */
footer{
    clear: both;
    text-align: center;
}