/* Corpo */
* {
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header{
    min-width: 300px;
    min-width: 50px;
    max-width: 1920px;
    max-height: 300px;
}

img {
    border-radius: 3px;
    background-size: cover;
}

/* menu */
nav{
    background-color: chocolate;
}

#menu {
    text-decoration: none;
    color: black;
    display: inline;
}

#menu:hover{
    background-color: rgba(43, 10, 10, 0.5);
}

/* conteúdo */
section{
    background-size: cover;
   background-image: url(../../Downloads/rise2.jpeg); 
   width: 500px;
   height: 550px;
}

#sessao{
    text-decoration: none;
    margin: auto auto auto 30px;
    padding: 5px;
}

/* rodapé */
footer{
    text-align: center;
}